/* Enter your custom styles here */

.tileLayout {
    float: left;
}

.tileLayoutRight {
    float: right;
}

.myCustomTile {
    width: 23.5rem;
    height: 11rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin: 0.5rem;
}


/*.numberFormat {
       padding-top: 1rem;
    height: 2.5rem; 
}*/

.backgroundForm {
    background: transparent;
}

.backgroundForm .sapUiFormM>.sapUiFormResGrid>.sapUiFormContainerTitle,
.sapUiFormM>.sapUiFormResGrid>.sapUiFormContainerToolbar {
    background: transparent !important;
}

.tableStyle {
    float: right;
    margin-right: 3rem;
    width: 95%;
    height: 90%;
}

.vboxStyle {
    /*margin-left: 1rem;*/
}

.tilesStyle {
    margin-top: auto;
    margin-left: 10%;
    width: 80%;
    height: 80%;
}

.newForm {
    margin: 3rem;
}

.newTableStyle {
	margin-top:3rem;
    margin-right: 3rem;
    margin-left: 3rem;
    /*max-width: 1000px;*/
    min-width:900px;
    max-height: 600px;
}

.CCTable{

	/*margin-top:3rem;*/
    margin-right: 15%;
    margin-left: 15%;
	height: 80%;
	
}